body {
  box-sizing: border-box;
  padding: 0;
}


.name-input {
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-window {
  padding: 25px;
  border: 3px solid black;
  width: 60vw;
  text-align: center;
}

.current-game {
}

.buildings-and-money {
  border: 3px solid grey;
  display: flex;
  flex-direction: row;
}

.buildings {
  flex: 1;
}

.money {
  flex: 1;
}

.build {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.footer-buttons {
  margin-top: 4vw;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.leaderboard-page {
  text-align:center;
}

.scores-list {
  height: 75vh;
  display: flex;
  border: 3px solid black;
  
  flex-direction: column;
  justify-content: center;
}